<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id='buy-view'>
  <style>
  .prompt > span {
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
    opacity: 0.7;
  }
  @media(min-width: 600px) {
    div.table-container {
      margin: 10px auto;
      max-width: 54em;
    }
  }
  div.top-buttons {
    margin-top: 20px;
    padding: 0 15px;
  }
  div.bottom-button {
    margin-top: 20px;
  }
  #large-card-container {
    margin: 10px auto;
    max-width: 95%;
  }
  div.card-container {
    margin: 20px 0;
    width: 250px;
  }
  
  @media (max-width: 600px) {
    div.cards {
      margin-top: 20px;
    }
    div.card-container {
      width: 100%;
      margin: 0;
      padding-right: 6px;
    }
  }
  @media (min-width: 600px) {
    div.card-container {
      margin-right: 25px;
    }
    div.cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
  }  
  @media (max-width: 600px) {
    div.cards {
      justify-content: space-around;
    }
  }
  #drawer-container {
    margin-top: 20px;
  }
  </style>
  <template>
    <paper-header-panel class="flex">
      <paper-toolbar>
        <paper-icon-button icon="menu" on-click="toggleMainDrawer" paper-drawer-toggle></paper-icon-button>
        <span class="title">购买股票</span>
        <div class="flex"></div>
        <paper-icon-button
          icon$="{{togglePanelIcon(selectedPanel)}}"
          hidden$="{{hideRightIcon(largeScreen, selected.length, selectedPanel)}}"
          on-click="toggleRightDrawer">
        </paper-icon-button>
      </paper-toolbar>
      <div class="prompt vertical layout" hidden$="[[notZero(collection.length)]]">
        <span>关注列表中没有股票，可查询并添加到这里</span>
        <div id="prompt-button" class="horizontal layout center-justified">
          <paper-button raised on-tap="gotoSearch">
            <span>去查询</span>
            <iron-icon icon="arrow-forward"></iron-icon>
          </paper-button>
        </div>
      </div>
      <div hidden$="[[!notZero(collection.length)]]" class="vertical layout">
        <div id="large-screen-container" hidden$="{{!largeScreen}}">
          <div class="top-buttons horizontal layout around-justified">
            <paper-button on-click="clear" disabled$="[[!notZero(collection.length)]]">
              <iron-icon icon="clear"></iron-icon>
              <span>清除</span>
            </paper-button>
            <paper-button on-click="remove" disabled$="[[!notZero(collection.length)]]">
              <iron-icon icon="remove-circle-outline"></iron-icon>
              <span>不再关注</span>
            </paper-button>
          </div>
          <div class="table-container fullbleed">
            <more-table headers="[[tableHeader]]" data="[[collection]]"
              selectable
              selected="{{selected}}"
              forward-button
              on-click-forward="gotoDetailsPage">
            </more-table>
          </div>
          <!-- cards -->
          <div class="vertial layout" id="large-card-container">
            <div class="cards">
              <template is="dom-repeat" items="{{selected}}">
                <div class="card-container">
                  <stock-card stock="{{item}}" on-click-close="handleClose"></stock-card>
                </div>
              </template>
            </div>
            <div class="bottom-button horizontal layout around-justified">
              <paper-button raised disabled$='{{!valid}}' on-click="submit">
                <iron-icon icon="check"></iron-icon>
                <span>确认购买</span>
              </paper-button>
            </div>
          </div>
        </div>
        <!-- for small screens -->
        <div id="small-screen-container" hidden$="{{largeScreen}}">
          <paper-drawer-panel right-drawer drawer-width="90%" id="rightDrawerPanel" disable-swipe selected="{{selectedPanel}}">
            <paper-header-panel drawer id="right-drawer">
              <div class="vertial layout" id="drawer-container">
                <div class="horizontal layout around-justified">
                  <paper-button disabled$='[[!valid]]'>
                    <iron-icon icon="check"></iron-icon>
                    <span>确认购买</span>
                  </paper-button>
                </div>
                <!--  -->
                <div class="cards">
                  <template is="dom-repeat" items="{{selected}}">
                    <div class="card-container">
                      <stock-card stock="{{item}}" on-click-close="handleClose"></stock-card>
                    </div>
                  </template>
                </div>
              </div>
            </paper-header-panel>
            <!--  -->
            <paper-header-panel main>
              <div class="top-buttons horizontal layout around-justified">
                <paper-button on-click="clear">
                  <iron-icon icon="clear"></iron-icon>
                  <span>Clear</span>
                </paper-button>
                <paper-button>
                  <iron-icon icon="remove-circle-outline"></iron-icon>
                  <span>Remove</span>
                </paper-button>
              </div>
              <div id="small-main-container">
                <more-table selectable
                  forward-button
                  on-click-forward="gotoDetailsPage"
                  data="[[collection]]"
                  selected="{{selected}}"
                  headers="[[tableHeader]]">
                </more-table>
              </div>
            </paper-header-panel>
          </paper-drawer-panel>
        </div>
      </div>
    </paper-header-panel>
    <iron-media-query query="min-width: 600px" query-matches="{{largeScreen}}">
    </iron-media-query>
    <iron-signals on-iron-signal-add="addToCollection"></iron-signals>
    <iron-meta id="meta"></iron-meta>
  </template>
  <script>
  Polymer({
    is: 'buy-view',
    properties: {
      accountId: {
        type: String,
        value: ""
      },
      collection: {
        type: Array,
        value: [],
        notify: true
      },
      selected: {
        type: Array,
        value: function() {
          return [];
        }
      }
    },
    behaviors: [ToggleMainDrawerBehavior, BuySellViewBehavior, ajaxBehavior],
    submit: function() {
      var self = this;
      var req = {
        accountID: this.accountId,
        trades: []
      };
      var item;
      for(var i = 0; i < this.selected.length; i++) {
        item = this.selected[i];
        req.trades.push({
          type: "buy",
          stockID: item.id,
          price: parseFloat(item.tradePrice),
          quantity: parseInt(item.tradeShares, 10)
        })
      }
      fetch('/api/trading', {
        method: "POST",
        body: JSON.stringify(req),
        headers: {
          "AccessToken": this.$.meta.byKey('AccessToken')
        }
      })
      .then(this.checkStatus)
      .then(function(data) {
        self.fire('iron-signal', {
          name: 'toast',
          data: '请求发送成功'
        });
        self.clear();
      })
      .catch(function(err) {
        self.fire('iron-signal', {
          name: 'toast',
          data: err
        });
        console.log(err);
      })
    },
    addToCollection: function(e) {
      var stock = e.detail;
      var arr = this.collection.filter(function(s) {
        return s.id === stock.id;
      });
      if(!arr || arr.length < 1) {
        for(var attr in stock.data) {
          stock[attr] = stock.data[attr];
        }
        this.push('collection', stock);
      };
    },
    remove: function(e) {
      if(!this.selected) return;
      for(var i = 0; i < this.selected.length; i++) {
        for(var j = 0; j < this.collection.length; j++) {
          if(this.collection[j].id == this.selected[i].id) {
            this.splice('collection', j, 1);
            break;
          }
        }
      }
      this.clear();
    },
    gotoSearch: function(e) {
      MoreRouting.navigateTo('/query');
    },
    ready: function() {
        this.tableHeader = [{
          label: 'Stock Code',
          attr: 'id'
        }, {
          label: 'Stock Name',
          attr: 'name'
        }, {
          label: 'Current Price',
          attr: 'price'
        }, {
          label: 'Change',
          attr: 'change'
        }, {
          label: 'Change Rate',
          attr: 'changeRate'
        }, {
          label: 'UpLimit',
          attr: 'upLimit'
        }, {
          label: 'DownLimit',
          attr: 'downLimit'
        }]
    }
  })
  </script>
</dom-module>
