<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id='change-password'>
  <style>
  @media(min-width: 600px) {
    div.container {
      max-width: 45em;
      margin: 20px auto;
    }
  }
  
  @media(max-width: 600px) {
    div.container {
      margin: 20px 10px;
      padding: 10px;
    }
  }
  
  #button-container {
    margin-top: 1em;
  }
  </style>
  <template>
    <paper-header-panel flex>
      <paper-toolbar>
        <paper-icon-button icon="menu" on-click="toggleMainDrawer" paper-drawer-toggle></paper-icon-button>
        <span class="title">修改密码</span>
        <div class="flex"></div>
      </paper-toolbar>
      <div class="container vertical layout">
        <form is="iron-form" id="form">
          <paper-input label="当前密码" type="password" value="{{oldPassword}}"></paper-input>
          <paper-input label="新密码" type="password" value="{{newPassword}}"></paper-input>
          <paper-input label="确认新密码" type="password" value="{{newPasswordAgain}}"></paper-input>
          <div class="horizontal layout center-justified" id="button-container">
            <paper-button raised disabled="{{notValid(oldPassword, newPassword, newPasswordAgain)}}" on-click="submit">
              <core-icon icon="check"></core-icon>
              <span>确认提交</span>
            </paper-button>
          </div>
        </form>
      </div>
    </paper-header-panel>
    <iron-meta id="meta"></iron-meta>
  </template>
  <script>
  Polymer({
    is: 'change-password',
    properties: {
      accountId: {
        type: String,
        value: ""
      }
    },
    behaviors: [ToggleMainDrawerBehavior, ajaxBehavior],
    notValid: function(old, newP, again) {
      return !(old && old != "" && newP && again && newP != "" && newP ===
        again);
    },
    submit: function() {
      var self = this;
      fetch('/api/password', {
          method: "POST",
          body: JSON.stringify({
            id: this.accountId,
            oldPassword: this.oldPassword,
            newPassword: this.newPassword,
            newPasswordAgain: this.newPasswordAgain
          }),
          headers: {
            "AccessToken": this.$.meta.byKey('AccessToken')
          }
        })
        .then(this.checkStatus)
        .then(function(a) {
          self.fire('iron-signal', {
            name: 'toast', 
            data: '请求提交成功'
          });
          document.querySelector('app-router#rootRouter').go('/login');
        })
        .catch(function(err) {
          console.log(err);
        })
    }
  })
  </script>
</dom-module>
