<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-pages/iron-pages.html">
<link rel="import" href="bower_components/paper-item/paper-item.html">
<link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<link rel="import" href="bower_components/paper-menu/paper-menu.html">
<link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/paper-material/paper-material.html">
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="bower_components/iron-form/iron-form.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-toast/paper-toast.html">
<link rel="import" href="bower_components/paper-styles/paper-styles.html">
<link rel="import" href="bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="bower_components/iron-signals/iron-signals.html">
<link rel="import" href="bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="bower_components/iron-meta/iron-meta.html">

<link rel="import" href="bower_components/app-router/app-router.html">

<link rel="import" href="bower_components/platinum-sw/platinum-sw-register.html">
<link rel="import" href="bower_components/platinum-sw/platinum-sw-cache.html">

<link rel="import" href="fmt-behavior.html">
<link rel="import" href="toggle-main-drawer-behavior.html">
<link rel="import" href="buy-sell-view-behavior.html">
<link rel="import" href="ajax-behavior.html">
<!-- put routes.html at first -->
<link rel="import" href="routes.html">

<link rel="import" href="main-view.html">
<link rel="import" href="login-view.html">
<link rel="import" href="account-view.html">
<link rel="import" href="buy-view.html">
<link rel="import" href="sell-view.html">
<link rel="import" href="query-view.html">
<link rel="import" href="more-table.html">
<link rel="import" href="stock-details.html">
<link rel="import" href="trading-history.html">
<link rel="import" href="change-password.html">
<link rel="import" href="stock-card.html">
<link rel="import" href="logout-view.html">

<link rel="stylesheet" href="app.css">
