<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id='login-view'>
  <style>
  :host {
    height: 100%;
  }
  #container {
    padding: 20px;
  }
  
  #form {
    min-width: 66%;
  }
  
  paper-button {
/*    background-color: var(--paper-blue-400);
    color: white;
*/    min-width: 7em;
  }
  
  #button {
    padding: 20px;
  }
  </style>
  <template>
    <paper-header-panel class="flex">
      <paper-toolbar>
        <div class="title">欢迎</div>
      </paper-toolbar>
      <div id="container" class="fit vertical layout center">
        <div id="form">
          <form is="iron-form" class="vertical layout" id="form" autocomplete="on" on-iron-form-submit="login">
            <paper-input label="帐号" value="{{id}}" required name="id"autofocus> </paper-input>
            <paper-input label="密码" value="{{password}}" name="password" type="password" required></paper-input>
            <div class="vertical layout center" id="button">
              <paper-button raised on-click="login" disabled="{{invalid(id, password)}}">
                <span>登录</span>
                <iron-icon icon="arrow-forward"></iron-icon>
              </paper-button>
              <button hidden type="submit"></button>
            </div>
          </form>
        </div>
      </div>
    </paper-header-panel>
    <paper-toast text="{{message}}" id="toast"></paper-toast>
    <iron-meta key="AccessToken" id="metaToken" value="{{AccessToken}}"></iron-meta>
    <iron-meta key="AccountID" id="metaID" value="{{AccountID}}"></iron-meta>
  </template>
  <script>
  Polymer({
    is: 'login-view',
    properties: {
      api: {
        type: String,
        value: "/api/auth"
      }
    },
    behaviors: [ajaxBehavior],
    postBody: function(id, password) {
      return JSON.stringify({
        id: id,
        password: password
      })
    },
    invalid: function(id, pass) {
      return !(id && id != "" && pass && pass != "");
    },
    login: function() {
      var self = this;
      fetch(this.api, {
          method: 'POST',
          headers: {
            "Content-type": "application/json"
          },
          body: this.postBody(this.id, this.password)
        })
        .then(this.checkStatus)
        .then(this.parseJSON)
        .then(function(data) {
          self.AccessToken = data.AccessToken;
          self.AccountID = self.id;
          self.password = "";
          document.querySelector('app-router#rootRouter').go('/');
        })
        .catch(function(err) {
          console.log(err);
          self.message = err;
          self.$.toast.show();
        })
    },
    attached: function() {
      var self = this;
      this.async(function() {
        self.AccessToken = undefined;
        self.AccountID = undefined;
      })
    }
  })
  </script>
</dom-module>
