<link rel="import" href="bower_components/polymer/polymer.html">

<dom-module id='logout-view'>
	<style>
	</style>
	<template id="logout-view">
		<paper-button raised on-click="logout">
			<span>Logout</span>
		</paper-button>
	</template>
	<script>
		Polymer({
			is: 'logout-view',
			properties: {
				account: {
					type: Object,
					notify: true
				}
			},
			logout: function() {
				this.set('account.isLogin', false);
				MoreRouting.navigateTo('/');
			},
			ready: function() {
			}
		})
	</script>
</dom-module>