<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id='main-app'>
  <style>
  :root {
    --paper-toolbar-background: var(--paper-blue-500);
  }
  
  app-router,
  app-route {
    height: 100%;
  }
  </style>
  <template>
      <app-router mode="hash" id="rootRouter" on-state-change="checkLogin">
        <app-route path="/" element="main-view"></app-route>
        <app-route path="/login" element="login-view"></app-route>
      </app-router>
    <iron-meta id="meta"></iron-meta>
  </template>
  <script>
  Polymer({
    is: 'main-app',
    checkLogin: function(e) {
      if (e.detail.path === '/login')
        return;
      var token = this.$.meta.byKey('AccessToken');
      if (!token || token === "") {
        e.preventDefault();
        this.$.rootRouter.go('/login');
      }
    }
  })
  </script>
</dom-module>
