<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id="main-view">
  <style>
  :host,
  iron-pages,
  more-route-selector {
    height: 100%;
  }
  
  #navMenu paper-item {
    cursor: pointer;
    border-width: 2px 0;
    padding: 0;
    padding-left: 16px;
    border-style: solid;
    border-color: transparent;
  }
  
  #navMenu .iron-selected {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.1);
  }
  
  #navMenu iron-icon {
    padding-right: 10px;
  }
  
  #navMenu a {
    width: 100%;
    min-height: 48px;
    line-height: 48px;
    text-decoration: none;
    color: black;
  }
  
  [drawer] {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
  
  [main] {
    background-color: rgba(0, 0, 0, 0.03);
  }
  
  #view-selector {
    height: 100%;
  }
  
  #pages {
    height: 100%;
  }
  </style>
  <template>
    <paper-drawer-panel id="mainDrawerPanel" disable-swipe>
      <paper-header-panel drawer class="flex" id="navMenu">
        <iron-selector attr-for-selected="page" selected="{{page}}">
          <template is="dom-repeat" items="{{navItems}}">
            <paper-item page$="[[item.page]]" on-tap="toggleDrawer">
              <a href="[[item.href]]">
                <iron-icon icon="{{item.icon}}"></iron-icon>
                <span>{{item.title}}</span>
              </a>
            </paper-item>
          </template>
        </iron-selector>
        <paper-item on-tap="logout">
          <iron-icon icon="power-settings-new"></iron-icon>
          <span>退出</span>
        </paper-item>
      </paper-header-panel>
      <div main class="fullbleed vertical layout">
        <more-route-selector route-attribute="page">
          <iron-pages attr-for-selected="page" selected="{{page}}">
            <account-view page="account" on-toggle-drawer="toggleDrawer" account="{{account}}">
            </account-view>
            <buy-view page="buy" on-toggle-drawer="toggleDrawer" account-id="[[account.id]]">
            </buy-view>
            <sell-view page="sell" on-toggle-drawer="toggleDrawer" account="[[account]]">
            </sell-view>
            <query-view page="query" on-toggle-drawer="toggleDrawer"></query-view>
            <trading-history page="history" on-toggle-drawer="toggleDrawer" account-id="[[account.id]]">
            </trading-history>
            <change-password page="password" on-toggle-drawer="toggleDrawer" account-id="[[account.id]]">
            </change-password>
            <stock-details page="stock-details"></stock-details>
          </iron-pages>
        </more-route-selector>
      </div>
    </paper-drawer-panel>
    <iron-meta id="meta"></iron-meta>
    <iron-signals on-iron-signal-toast="showToast"></iron-signals>
    <paper-toast id="toast" text="{{toastMessage}}" duration="4000"></paper-toast>
  </template>
  <script>
  Polymer({
    is: 'main-view',
    properies: {
      page: {
        type: String,
        value: 'account'
      },
      account: {
        type: Object,
        value: {}
      },
      navItems: {
        type: Array,
        value: []
      }
    },
    showToast: function(e) {
      this.toastMessage = e.detail;
      this.$.toast.show();
    },
    attached: function() {
      var self = this;
      this.async(function() {
        self.set('account.id', self.$.meta.byKey('AccountID'));
      })
    },
    ready: function() {
      this.navItems = [{
        page: 'account',
        href: '#/account',
        title: '账户信息',
        icon: 'account-box'
      }, {
        page: 'buy',
        href: '#/buy',
        title: '购买股票',
        icon: 'add'
      }, {
        page: 'sell',
        href: '#/sell',
        title: '出售股票',
        icon: 'eject'
      }, {
        page: 'query',
        href: '#/query',
        title: '查询股票',
        icon: 'search'
      }, {
        page: 'history',
        href: '#/history',
        title: '交易历史',
        icon: 'history'
      }, {
        page: 'password',
        href: '#/password',
        title: '修改密码',
        icon: 'create'
      }]
      this.page = 'account';
    },
    currentTitle: function(items, page) {
      return items.filter(function(item) {
        return item.page == page;
      })[0].title;
    },
    toggleDrawer: function(e) {
      var drawer = this.$.mainDrawerPanel;
      if (drawer.narrow) {
        drawer.togglePanel();
      }
    },
    logout: function(e) {
      document.querySelector('#rootRouter').go('/login');
    }
  });
  </script>
</dom-module>
