<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id="query-view">
  <style>
  @media(min-width: 600px) {
    div.container {
      max-width: 45em;
      margin: 20px auto;
    }
  }
  @media(max-width: 600px) {
    div.container {
      margin: 20px 10px;
      padding: 10px;
    }
  }
  #query-button {
    padding: 20px;
  }
  
  paper-button.query {
    background-color: var(--paper-blue-400);
    color: white;
    min-width: 7em;
  }
  </style>
  <template>
    <paper-header-panel flex>
      <paper-toolbar>
        <paper-icon-button icon="menu" on-click="toggleMainDrawer" paper-drawer-toggle></paper-icon-button>
        <span class="title">查询股票</span>
        <div class="flex"></div>
      </paper-toolbar>
      <div class="container vertical layout">
        <form is="iron-form" id="form">
          <paper-input label="股票代码" name="stockCode" value="{{stockID}}" required></paper-input>
          <div class="horizontal layout center-justified" id="query-button">
            <paper-button raised on-click="submit" disabled$="{{invalid(stockID)}}">
              <span>查询</span>
            </paper-button>
          </div>
        </form>
      </div>
    </paper-header-panel>
  </template>
  <script>
  Polymer({
    is: "query-view",
    properties: {
      stockID: {
        type: String,
        value: ""
      }
    },
    behaviors: [ToggleMainDrawerBehavior],
    submit: function(e) {
      MoreRouting.navigateTo('stock-details', {
        id: this.stockID
      });
    },
    invalid: function(id) {
      return !id || id == "";
    }
  })
  </script>
</dom-module>
