<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id='sell-view'>
  <style>
  @media(min-width: 600px) {
    .table-container {
      margin: 10px auto;
      max-width: 50em;
    }
  }

  #large-card-container {
    margin: 10px auto;
    max-width: 95%;
  }
  
  div.card-container {
    margin: 20px 0;
    width: 250px;
  }
  
  @media (max-width: 600px) {
    div.cards {
      margin-top: 20px;
    }
    div.card-container {
      width: 100%;
      margin: 0;
      padding-right: 6px;
    }
  }
  
  @media (min-width: 600px) {
    div.card-container {
      margin-right: 25px;
    }
    div.cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
  }
  
  @media (max-width: 600px) {
    div.cards {
      justify-content: space-around;
    }
  }
  
  .buttons {
    padding: 15px;
  }
  /* small screen */
  
  #drawer-container {
    margin-top: 20px;
  }
  </style>
  <template>
    <paper-header-panel class="flex">
      <paper-toolbar>
        <paper-icon-button icon="menu" on-click="toggleMainDrawer" paper-drawer-toggle></paper-icon-button>
        <span class="title">出售股票</span>
        <div class="flex"></div>
        <paper-icon-button
          icon$="{{togglePanelIcon(selectedPanel)}}"
          hidden$="{{hideRightIcon(largeScreen, selected.length, selectedPanel)}}"
          on-click="toggleRightDrawer">
        </paper-icon-button>
      </paper-toolbar>
      <!-- for large screen -->
      <div id="large-screen-container" hidden$="{{!largeScreen}}">
        <div class="table-container">
          <more-table selectable forward-button on-click-forward="gotoDetailsPage" data="[[account.holdingStocks]]" selected="{{selected}}" headers="{{tableHeaders}}">
          </more-table>
        </div>
        <div class="vertial layout" id="large-card-container">
          <div class="cards">
            <template is="dom-repeat" items="{{selected}}">
              <div class="card-container">
                <stock-card stock="{{item}}" on-click-close="handleClose"></stock-card>
              </div>
            </template>
          </div>
          <!--  -->
          <div class="horizontal layout around-justified" class="buttons">
            <paper-button raised id="button-clear" disabled$='{{!notZero(selected.length)}}' on-click="clear">
              <iron-icon icon="clear"></iron-icon>
              <span>清除</span>
            </paper-button>
            <paper-button raised id="button-confirm" disabled$='[[!valid]]' on-tap="submit">
              <iron-icon icon="check"></iron-icon>
              <span>确认出售</span>
            </paper-button>
          </div>
        </div>
      </div>
      <!-- for small screens -->
      <div id="small-screen-container" hidden$="{{largeScreen}}">
        <paper-drawer-panel right-drawer drawer-width="90%" id="rightDrawerPanel" disable-swipe selected="{{selectedPanel}}">
          <paper-header-panel drawer id="right-drawer">
            <div class="vertial layout" id="drawer-container">
              <div class="horizontal layout around-justified" class="buttons">
                <paper-button raised id="button-clear" disabled$='{{!notZero(selected.length)}}' on-click="clear">
                  <iron-icon icon="clear"></iron-icon>
                  <span>清除</span>
                </paper-button>
                <paper-button raised id="button-confirm" disabled$='[[!valid]]' on-tap="submit">
                  <iron-icon icon="check"></iron-icon>
                  <span>确认出售</span>
                </paper-button>
              </div>
              <!--  -->
              <div class="cards">
                <template is="dom-repeat" items="{{selected}}">
                  <div class="card-container">
                    <stock-card stock="{{item}}" on-click-close="handleClose"></stock-card>
                  </div>
                </template>
              </div>
            </div>
          </paper-header-panel>
          <!--  -->
          <paper-header-panel main>
            <div id="small-main-container">
              <more-table selectable forward-button on-click-forward="gotoDetailsPage" data="[[account.holdingStocks]]" selected="{{selected}}" headers="[[tableHeaders]]">
              </more-table>
            </div>
          </paper-header-panel>
        </paper-drawer-panel>
      </div>
    </paper-header-panel>
    <iron-media-query query="min-width: 600px" query-matches="{{largeScreen}}">
    </iron-media-query>
    <iron-meta id="meta"></iron-meta>
  </template>
  <script>
  Polymer({
    is: 'sell-view',
    properties: {
      account: {
        type: Object,
        value: {}
      },
      selected: {
        type: Array,
        value: []
      }
    },
    behaviors: [ToggleMainDrawerBehavior, BuySellViewBehavior, ajaxBehavior],
    submit: function() {
      var self = this;
      var req = {
        accountID: this.account.id,
        trades: []
      };
      var item;
      for(var i = 0; i < this.selected.length; i++) {
        item = this.selected[i];
        req.trades.push({
          type: "sell",
          stockID: item.id,
          price: parseFloat(item.tradePrice),
          quantity: parseInt(item.tradeShares, 10)
        })
      }
      fetch('/api/trading', {
        method: "POST",
        body: JSON.stringify(req),
        headers: {
          "AccessToken": this.$.meta.byKey('AccessToken')
        }
      })
      .then(this.checkStatus)
      .then(function(data) {
        self.fire('iron-signal', {
          name: 'toast',
          data: '请求提交成功'
        });
        self.clear();
      })
      .catch(function(err) {
        self.fire('iron-signal', {
          name: 'toast',
          data: err
        });
        console.log(err);
      })
    },
    ready: function() {
      this.tableHeaders = [{
        label: '股票代码',
        attr: 'id'
      }, {
        label: '股票名称',
        attr: 'name'
      }, {
        label: '股数',
        attr: 'shares'
      }, {
        label: '持有价格',
        attr: 'holdingPrice'
      }, {
        label: '当前价格',
        attr: 'price'
      }, {
        label: '损益',
        attr: 'profit'
      }];
    }
  })
  </script>
</dom-module>
