<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id='stock-details'>
  <style>
  :host {
    display: block;
    height: 100%;
  }
  
  div.no-data {
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
    opacity: 0.7;
  }
  
  div.main-container {
    background-color: white;
    height: 100%;
    padding: 1em;
    width: 100%;
  }
  
  @media(min-width: 600px) {
    div.main-container {
      max-width: 54em;
      margin: 10px auto;
    }
  }
  
  .stock-header {
    padding: 10px;
    font-size: 1.4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .stock-code {
    padding: 10px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 1em;
    width: 100%;
  }
  
  @media(min-width: 600px) {
    .snap-meta {
      padding: 1em;
      margin-right: 4em;
    }
    .snap-data {
      flex: 1 auto;
    }
  }
  
  @media(max-width: 600px) {
    .snap-data {
      width: 100%;
      margin-top: 2em;
    }
  }
  
  .meta-price-change {
    padding-bottom: 15px;
  }
  
  .current-price {
    font-size: 1.6em;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .change-rise {
    color: var(--paper-green-500);
    font-size: 1.2em;
  }
  
  .change-fall {
    color: red;
    font-size: 1.2em;
  }
  
  .snap-data table {
    border-collapse: collapse;
  }
  
  .snap-data th {
    padding: 5px;
    text-align: left;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .snap-data td {
    padding: 5px;
    text-align: right;
  }
  .description {
    padding: 20px;
    opacity: 0.75;
  }
  </style>
  <template>
    <more-route name="stock-details" params="{{param}}" context></more-route>
    <iron-media-query query="min-width: 600px" query-matches="{{largeScreen}}">
    </iron-media-query>
    <paper-header-panel class="flex">
      <paper-toolbar>
        <paper-button on-click="back">
          <iron-icon icon="arrow-back"></iron-icon>
          <span>返回</span>
        </paper-button>
        <span class="flex"></span>
        <div hidden$="[[!success]]">
          <paper-button hidden$="{{!largeScreen}}" on-tap="_addToCollection">
            <iron-icon icon="add"></iron-icon>
            <span>添加至关注</span>
          </paper-button>
          <paper-icon-button icon="add" hidden$="{{largeScreen}}" on-tap="_addToCollection"></paper-icon-button>
        </div>
      </paper-toolbar>
      <div class="no-data" hidden$="{{success}}">
        <span>Sorry, cann't found stock with id </span><span>{{param.id}}</span>
      </div>
      <div class="layout vertical main-container" hidden$="{{!success}}">
        <div class="stock-header flex">
          <span>{{stock.name}}</span>
          <span class="stock-code">{{stock.id}}</span>
        </div>
        <div class="content-container">
          <div class="snap-meta layout vertical">
            <div class="meta-price-change">
              <span class="current-price">{{fmtFloat(stock.price)}}</span>
              <span class$="{{changeClass(stock.data.change)}}">{{change(stock.data.change, stock.data.changeRate)}}</span>
            </div>
            <div class="time">{{stock.data.time}}</div>
          </div>
          <div class="snap-data">
            <table>
              <tr>
                <th>范围</th>
                <td>{{range(stock.data.dayLow, stock.data.dayHigh)}}</td>
              </tr>
              <tr>
                <th>本周</th>
                <td>{{range(stock.data.weekLow, stock.data.weekHigh)}}</td>
              </tr>
              <tr>
                <th>本月</th>
                <td>{{range(stock.data.monthLow, stock.data.monthHigh)}}</td>
              </tr>
              <tr>
                <th>成交量</th>
                <td>{{stock.data.volume}}</td>
              </tr>
              <tr>
                <th>成交额</th>
                <td>{{fmtFloat(stock.data.sum)}}</td>
              </tr>
            </table>
          </div>
          <div class="snap-data">
            <table>
              <tr>
                <th>总股数</th>
                <td>{{stock.shares}}</td>
              </tr>
              <tr>
                <th>市值</th>
                <td></td>
              </tr>
              <tr>
                <th>净资产</th>
                <td>{{fmtFloat(stock.netAssets)}}</td>
              </tr>
              <tr>
                <th>Eps</th>
                <td>{{fmtFloat(stock.eps)}}</td>
              </tr>
            </table>
          </div>
        </div>
        <paper-material elevation="0">
          <div class="description">
            <span>{{stock.description}}</span>
          </div>
        </paper-material>
      </div>
    </paper-header-panel>
    <iron-meta id="meta"></iron-meta>
  </template>
  <script>
  Polymer({
    is: 'stock-details',
    properties: {
      stock: {
        type: Object,
        value: {}
      },
      success: {
        type: Boolean,
        value: false
      }
    },
    behaviors: [ajaxBehavior, fmtBehavior],
    observers: [
      'doAjax(param.id)'
    ],
    doAjax: function(id) {
      var self = this;
      if (!id || id === "") {
        this.success = false;
        return;
      }
      fetch('/api/stock?stockID=' + id, {
          headers: {
            "AccessToken": this.$.meta.byKey('AccessToken')
          },
        })
        .then(this.checkStatus)
        .then(this.parseJSON)
        .then(function(data) {
          self.success = true;
          self.set('stock', data);
        })
        .catch(function(err) {
          self.success = false;
          self.fire('iron-signal', {
            name: 'toast',
            data: err
          });
          console.log(err);
        });
      if (!this.success) return;
      fetch('/api/stock/data?stockID=' + id, {
          headers: {
            "AccessToken": this.$.meta.byKey('AccessToken')
          },
        })
        .then(this.checkStatus)
        .then(this.parseJSON)
        .then(function(data) {
          self.set('stock.data', data);
          self.success = true;
        })
        .catch(function(err) {
          self.fire('iron-signal', {
            name: 'toast',
            data: err
          });
          console.log(err);
        })
    },
    back: function() {
      window.history.back();
    },
    _addToCollection: function(e) {
      this.fire('iron-signal', {
        name: 'add',
        data: this.stock
      })
      this.fire('iron-signal', {
        name: 'toast',
        data: '已添加至关注列表，请到购买股票界面查看'
      })
    },
    change: function(price, rate) {
      return (price > 0 ? "+" : "") + price + "(" + rate * 100 + "%)";
    },
    changeClass: function(price) {
      return price > 0 ? 'change-rise' : 'change-fall';
    },
    range: function(low, high) {
      return low + " - " + high;
    },
    ready: function() {}
  })
  </script>
</dom-module>
