<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id='stock-card'>
  <style>
  paper-input {
    background-color: white;
    padding: 15px;
  }
  </style>
  <template>
    <paper-material>
      <paper-toolbar>
        <span>{{nameAndCode(stock.name, stock.id)}}</span>
        <div class="flex"></div>
        <paper-icon-button icon="clear" on-click="_handleClick"></paper-icon-button>
      </paper-toolbar>
      <paper-input label="Price" value="{{stock.tradePrice}}" required type="number" step="0.01"></paper-input>
      <paper-input label="Shares" value="{{stock.tradeShares}}" required type="number" step="1"></paper-input>
    </paper-material>
  </template>
  <script>
  Polymer({
    is: 'stock-card',
    properties: {
      stock: {
        type: Object,
        value: {},
        notify: true
      }
    },
    observers: [
      'isValid(stock.tradePrice, stock.tradeShares, stock.shares)'
    ],
    isValid: function(price, shares, holdingShares) {
      if(price && shares > 0 && shares <= holdingShares)
        this.set('stock.tradeValid', true);
      else
        this.set('stock.tradeValid', false);
    },
    nameAndCode: function(name, code) {
      return name + " (" + code + ")";
    },
    _handleClick: function(e) {
    	this.fire('click-close', {name: 'click-close', data: this.stock});
    }
  })
  </script>
</dom-module>
