<link rel="import" href="bower_components/polymer/polymer.html">
<dom-module id='trading-history'>
  <style>
  	@media(min-width: 600px) {
  	  div.container {
  	    max-width: 50em;
  	    margin: 20px auto;
  	  }
  	}
  </style>
  <template>
    <paper-header-panel flex>
      <paper-toolbar>
        <paper-icon-button icon="menu" on-click="toggleMainDrawer" paper-drawer-toggle></paper-icon-button>
        <span class="title">交易历史</span>
        <div class="flex"></div>
        <paper-icon-button icon="refresh" on-tap="refresh"></paper-icon-button>
      </paper-toolbar>
      <div class="container vertical layout">
        <more-table id="table" forward-button forward-button-icon="undo" data="[[history]]" 
        on-click-forward="undoInst"
        headers="[[headers]]">
        </more-table>
      </div>
    </paper-header-panel>
    <iron-meta id="meta"></iron-meta>
  </template>
  <script>
  Polymer({
    is: 'trading-history',
    properties: {
      history: {
        type: Array,
        value: function() {
          return [];
        }
      },
      headers: Array,
      accountId: {
        type: String,
        value: ""
      }
    },
    behaviors: [ToggleMainDrawerBehavior, ajaxBehavior],
    observers: ['doRequest(accountId)'],
    doRequest: function(id) {
      var self = this;
      if(!id || id === "") return;
      fetch('/api/history?accountID=' + id, {
        headers: {
          "AccessToken": this.$.meta.byKey('AccessToken')
        },
      })
      .then(this.checkStatus)
      .then(this.parseJSON)
      .then(function(data) {
        var len = self.history.length;
        self.splice('history', 0, len);
        if(!data) return;
        data.forEach(function(item) {
          switch(item.type){
            case 0:
              item.type = "卖出";
              break;
            case 1:
              item.type = "买入";
              break;
            case 2:
              item.type = "撤销";
              break;
            default:
              item.type = "无效";
              break;
          }
          switch(item.state){
            case 1:
              item.state = "已完成";
              break;
            case 0:
              item.state = "处理中";
              break;
            case -1:
              item.state = "撤销成功";
              break;
            case -2:
              item.state = "删除";
              break;
            default:
              item.state = "未知";
              break;
          }
          self.push('history', item);
        })
      })
      .catch(function(err) {
        self.fire('iron-signal', {
          name: 'toast',
          data: err
        });
        console.log(err);
      })
    },
    undoInst: function(e) {
      var self = this;
      var inst = e.detail.item;
      if(inst.state === "处理中" &&
        (inst.type === "卖出" || inst.type === "买入")) {
        fetch('/api/trading', {
          method: "POST",
          body: JSON.stringify({
            accountID: this.accountId,
            trades: [
              {
                instID: inst.id,
                type: "undo"
              }
            ]
          }),
          headers: {
            "AccessToken": this.$.meta.byKey('AccessToken')
          }
        })
        .then(this.checkStatus)
        .then(function(data) {
          self.fire('iron-signal', {
            name: 'toast',
            data: '请求提交成功'
          });
        })
        .catch(function(err) {
          self.fire('iron-signal', {
            name: 'toast',
            data: err
          });
          console.log(err);
        })
      } else {
        self.fire('iron-signal', {
          name: 'toast',
          data: '抱歉，该交易指令不能撤销'
        });        
      }
    },
    refresh: function(e) {
      this.doRequest(this.accountId);
    },
    ready: function() {
        this.headers = [{
          label: "指令代码",
          attr: 'id'
        }, {
          label: "股票代码",
          attr: "stockID"
        }, {
          label: "类型",
          attr: "type"
        }, {
          label: "状态",
          attr: "state"
        }, {
          label: "交易价格",
          attr: "price"
        }, {
          label: "交易股数",
          attr: "quantity"
        }]
    }
  })
  </script>
</dom-module>
